{% extends 'base.html' %}

{% block title %}Login{% endblock %}


{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-primary text-white text-center">
                    <h2>Login</h2>
                </div>
                <div class="card-body">
                    
                    <form method="post" action={% url 'login'%} novalidate>
                        {% csrf_token %}
                        {% if messages %}
                            <div class="alert alert-danger">
                                {% for message in messages %}
                                    {{ message}}
                                {% endfor %}
                            </div>
                        {% endif %}    

                        <!-- Username Field -->
                        <div class="mb-3">
                            <label for="id_username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="id_username" name="username" placeholder="Enter your username" required>
                            {% if form.username.errors %}
                                <div class="text-danger">
                                    {{ form.username.errors }}
                                </div>
                            {% endif %}
                        </div>

                        <!-- Password Field -->
                        <div class="mb-3">
                            <label for="id_password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="id_password" name="password" placeholder="Enter your password" required>
                            {% if form.password.errors %}
                                <div class="text-danger">
                                    {{ form.password.errors }}
                                </div>
                            {% endif %}
                        </div>

                        <!-- Submit Button -->
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-lg">Login</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <p>Don't have an account? <a href="{% url 'register' %}" class="text-primary">Register here</a>.</p>
                    <p><a href="{% url 'password_reset' %}" class="text-primary">Forgot your password?</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
